<div class="main home"> 
  <div class="jumbotron"> 
    <div class="container"> 
      <h2>Hello. My name is <span class="highlight">Mable Mathew</span> This is Contact Page</h2> 
      <a class="btn right" href="portfolio">View my Work</a> 
    </div> 
  </div> 
</div>