<div class="portfolio">
<div class="slideshow-container">
<div class="banner">
    <ul>
        <li class="slide">
          <img alt="Slide01" src="https://portfolio-rails-2633.herokuapp.com/assets/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg">
        </li>
        <li class="slide">
          <img alt="Slide02" src="https://portfolio-rails-2633.herokuapp.com/assets/slide02-3c9662ea3f8d9ce479b5a76aedfa3f7b.jpg"> 
         </li>
       <li class="slide">
          <img alt="Slide03" src="https://portfolio-rails-2633.herokuapp.com/assets/slide03-4e85ff59d4201786022aecf410d35d4f.jpg"> 
        </li>
        <li class="slide">
          <img alt="Slide04" src="https://portfolio-rails-2633.herokuapp.com/assets/slide04-38bd2e1296452662195acbb9cabafda6.jpg"> 
       </li>
       <li class="slide">
          <img alt="Slide05" src="https://portfolio-rails-2633.herokuapp.com/assets/slide05-0d54918a8bf7af849bbe49da704e6bb6.jpg"> 
       </li>
    </ul>
</div>
</div>
</div>